{% extends 'base.html' %}
{% block title %}Welcome to about Connor Jones{% endblock %}


{% block content %}
<div class="section">
  <div class="container">
      <div class="w-layout-grid about-intro-grid">
          <div id="w-node-_9b2922ad-09b1-aebb-0430-7dee623c62c1-76c65c7a" class="about-head-text-wrap">
              <div class="label cc-about-light">Hey there!</div>
              <h2 class="hi-there-heading">I&#x27;m Connor Jones</h2>
              <p class="paragraph-light">Initially from Uttoxeter, Staffordshire. I am student at Cardiff
                  university studying for an MSc in computing. </p>
          </div><img
              src="https://uploads-ssl.webflow.com/63b58bf655c481a85dc65c62/63cff2ac7c15222556d4482c_ME.Photo.JPG"
              loading="lazy" id="w-node-_4a5a16a6-b7e6-da1c-9bf4-0316893a8ade-76c65c7a" alt="" />
      </div>
  </div>
</div>
<div class="section">
  <div class="container">
      <div class="w-layout-grid skills-grid">
          <div id="w-node-dac044b7-be90-60f3-414d-4224828ffd8a-76c65c7a" class="skillset-wrap">
              <h3>My Career so far</h3>
              <p class="paragraph-light">My journey into a career within tech began unusually as a salesman,
                  namely selling &#x27;Managed workplace 11&#x27; to companies directly. I did this while I was at
                  university studying for a BA in Politics. I then moved into a career in data management and app
                  support providing me with experience as a front end engineer, steadily moving towards back-end
                  support. I believe my unique career experience as provided me with the communication skills and
                  technical knowledge to take a product from development to customer.</p>
          </div>
          <div id="w-node-dac044b7-be90-60f3-414d-4224828ffd8f-76c65c7a"
              class="w-layout-grid services-items-grid">
              <div id="w-node-dac044b7-be90-60f3-414d-4224828ffd90-76c65c7a">
                  <div class="service-name-text">Front-end</div>
                  <div class="service-name-text">Excel</div>
                  <div class="service-name-text">HTML</div>
                  <div class="service-name-text">CSS</div>
              </div>
              <div id="w-node-dac044b7-be90-60f3-414d-4224828ffd99-76c65c7a" class="service-name-text">
                  <div class="service-name-text">Python</div>
                  <div class="service-name-text">Javascript</div>
                  <div class="service-name-text-copy">Back-End</div>
              </div>
          </div>
      </div>
  </div>
  <div class="container">
      <div class="social-media-heading">
          <h3>Skills</h3>
          <div class="paragraph-light cc-position-name">Take a look at the systems I have professional experience
              providing both back and front end support. </div>
      </div>
  </div>
</div>
<div class="section">
  <div class="w-layout-grid social-media-grid"><img
          src="https://uploads-ssl.webflow.com/63b58bf655c481a85dc65c62/63cffafa6df9635ac8c79cd7_salesforce.logo.JPG"
          loading="lazy" id="w-node-_7fe4b0ed-21f9-c09f-076b-2930f75c8e9b-76c65c7a" alt="" /><img
          src="https://uploads-ssl.webflow.com/63b58bf655c481a85dc65c62/63cffb43ec35e2bc5637967d_Totara.logo.JPG"
          loading="lazy" id="w-node-ac7d4765-0e63-276d-1a3c-5f19532e24a8-76c65c7a" alt="" /><img
          src="https://uploads-ssl.webflow.com/63b58bf655c481a85dc65c62/63cffb5c4c6ce31fe03092fc_AWS.Logo.JPG"
          loading="lazy" id="w-node-ec2ca0cc-feea-c58c-d368-61e27eccea27-76c65c7a" alt="" /><img
          src="https://uploads-ssl.webflow.com/63b58bf655c481a85dc65c62/63cffbc4e7e73c264fe8bf37_PEGA.Logo.JPG"
          loading="lazy" id="w-node-_7727c5a4-e778-a5e8-e272-f1a4f30ec72f-76c65c7a" alt="" /><img
          src="https://uploads-ssl.webflow.com/63b58bf655c481a85dc65c62/63cffbedc9f3a6291ca1e0cc_Moodle.logo.JPG"
          loading="lazy" id="w-node-_295a2a77-e914-0c6f-5401-b8d0586e806e-76c65c7a" alt="" /><img
          src="https://uploads-ssl.webflow.com/63b58bf655c481a85dc65c62/63cfff19fde08668ceff8fd4_cloudschool.logo.JPG"
          loading="lazy" id="w-node-_8e6885b9-33dd-d026-1c98-4f776ad0969b-76c65c7a" alt="" /><img
          src="https://uploads-ssl.webflow.com/63b58bf655c481a85dc65c62/63cfff311adeeb489264e6d3_Servicenow.logo.JPG"
          loading="lazy" id="w-node-_59ae89dc-0438-647f-b591-d80237a2fc1e-76c65c7a"
          sizes="(max-width: 479px) 100vw, (max-width: 711px) 96vw, 683px"
          srcset="https://uploads-ssl.webflow.com/63b58bf655c481a85dc65c62/63cfff311adeeb489264e6d3_Servicenow.logo-p-500.jpg 500w"
          alt="" /></div>
</div>
    {% endblock %}